.applicationWrapper {
	padding-bottom: 0;
}
.article .applicationWrapper .subtitle {
	padding: 0;
}
.applicationWrapper .genderSelect .genderOption {
	width: 150px;
	height: auto;
	position: relative;
	padding: 15px 0;
}
.applicationWrapper .genderSelect .genderOption .genderIcon {
	width: 51px;
	height: 65px;
	margin: 0 auto;
	background-position: 0 -65px;
}
.applicationWrapper .genderSelect .genderOption .icon-checkmark {
	display: none;
}
.applicationWrapper .genderSelect .genderOption .genderText {
	margin: 0;
	text-align: center;
	display: block;
	font-family: "Droid Serif", Georgia;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	margin-top: 8px;
	color: #888;
}

.applicationWrapper .genderSelect .genderOption.selected .genderIcon {
	background-position: 0 0;
}
.applicationWrapper .genderSelect .genderOption.selected .icon-checkmark {
	display: block;
	position: absolute;
	left: 7px;
	bottom: 7px;
	color: white;
	font-size: 34px;
}

.applicationWrapper .genderSelect .genderFemale .genderIcon {
	background-image: url(img/girl.png);
}
.applicationWrapper .genderSelect .genderMale .genderIcon {
	background-image: url(img/boy.png);
}

.applicationWrapper input.nameInput {
	width: 100%;
	text-align: left;
	padding: 0 20px;
}

.applicationWrapper .parentHeight {

}
.applicationWrapper .parentHeight .parentIcon {
	width: 159px;
	height: 144px;
	margin: 0 auto;
}
.applicationWrapper .parentHeight input {
	width: 80%;
}
.applicationWrapper .parentHeight label {
	margin: 40px 0 20px 0;
	text-align: center;
	display: block;
}
.applicationWrapper .parentIcon.dad {
	background: url(img/dad.png) no-repeat center center;
}
.applicationWrapper .parentIcon.mom {
	background: url(img/mom.png) no-repeat center center;
}

.applicationWrapper .controlButtons {
	background: #000000;
	color: white;
	margin: 0 -30px;
}
.applicationWrapper .controlButtons .button {
	display: block;
	padding: 0;
	font-size: 20px;
	text-transform: uppercase;
}
.applicationWrapper .controlButtons .button span {
	line-height: 47px;
	display: inline-block;
	vertical-align: middle;
}
.applicationWrapper .controlButtons .prevButton {
	text-align: left;
	border-right: 1px solid white;
	display: none;
}
.applicationWrapper .controlButtons .nextButton {
	text-align: right;
}
.applicationWrapper .controlButtons .prevButtonButton .icon-back,
.applicationWrapper .controlButtons .nextButton .icon-forward,
.applicationWrapper .controlButtons .toStartButton .icon-rotate {
	font-size: 26px;
}

#page_two,
#page_three {
	display: none;
}

.applicationWrapper .resultPage .genderIcon {
	width: 73px;
	height: 99px;
	margin: 0 auto;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}
.applicationWrapper .resultPage .resultBox {
	position: relative;
	margin-bottom: 30px;
}
.applicationWrapper .resultPage .resultBox .icon-up {
	position: absolute;
	top: -20px;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 40px;
}
.applicationWrapper .resultPage .genderIcon.female {
	background-image: url(img/girl_result.png);
}
.applicationWrapper .resultPage .genderIcon.male {
	background-image: url(img/boy_result.png);
}
.applicationWrapper .resultBox .resultText {
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	margin-bottom: 40px;
}
.applicationWrapper .resultBox .nameGuideLink {
	text-align: center;
}

/*
Mobile styles
*/

.mobile .applicationWrapper {
	padding-bottom: 0;
}
.mobile .article .applicationWrapper .subtitle {
	margin-top: 0;
}
.mobile .applicationWrapper .childsName {
	padding-left: 10px;
	padding-right: 10px;
}
.mobile .applicationWrapper .controlButtons {
	margin: 0 -15px;
}
.mobile .applicationWrapper .inputBlock .inputFieldWrapper {
	display: block;
	margin: 0 10px;
}
.mobile .applicationWrapper .resultBox {
	margin: 0 -15px;
}